*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.header{
    width: 100%;
    height: 620px;
    background-color: white;
    background-image: url(./img/paisagem/redencao.jpg);
    background-size: cover;
    background-position: center;
}
.menu{
    background-color: #152940;
    width: 100%;
    height: 100px;
}
.menu nav.nav ul li a{
  padding: 10px
}
.menu nav.nav ul li a:hover{
  width: 105px;
  height: 25px;
  background-color: #A7D533;
  border-radius: 20px;
  color: white;
}
.box1{
  width: 350px;
  height: 175px;
  float: left;
  margin-top: 220px;
  margin-left: 70px;
  display: block;
}
.titulo{
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  padding: 0px;
  margin-bottom: 30px;
}
.textinho{
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
.botao{
  background: none;
  color: white;
  border: none;
  margin-top: 50px;
  font-weight: 700;
  padding: 10px 20px;
}
header .box1 .botao:hover{
  width: 150px;
  height: 40px;
  background-color: #A7D533;
  
  border-radius: 20px;
  cursor: pointer;
}
.circulos{
  width: 125px;
  height: 500px;
  float: right;
  margin-right: 70px;
}
.circulo1{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border:1px solid white;
  background-color: rgba(255, 255, 255, 0.105);
  float: right;
  margin-top: 60px;
}
.reciclar{
  width: 125px;
  height: 125px;
}
.circulo2{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border:1px solid white;
  background-color: rgba(255, 255, 255, 0.105);
  float: right;
  margin-top: -15px;
}
.lixo{
  width: 125px;
  height: 125px;
}
.circulo3{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border:1px solid white;
  background-color: rgba(255, 255, 255, 0.105);
  float: right;
  margin-top: -15px;
}
.caminhao{
  width: 125px;
  height: 125px;
}
a {
    text-decoration: none;
  }
   
  .nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  .logo {
    margin-top: 45px;
  }
   
  .nav-list {
    display: flex;
    gap: 29px;
    list-style: none;
    margin-right: 62px;
    margin-top: 34px;
  }
   
.nav-list a {
    font-size: 18px;
    color: #fff;
}

  .saibamais{
    font-size: 18px;
    color: white;
    margin-left: 37px;
    margin-top: 15px;
  }
  .instale{
    font-size: 18px;
    color: white;
    margin-left: 157px;
    margin-top: -10px;
  } 
.container1 {
    background: #EEE5DD;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.caixona{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.valores{
  height: 50px;
  width: 425px;
  display: block;
  align-items: center;
  margin-top: 25px;
}
.nosso-valores{
  color: #152940;
  font-size: 45px;
  text-align: center;
}
.caixona2{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.caixa-esquerda{
  float: left;
  height:400px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caixa1{
  width: 250px;
  height: 250px;
  border-radius: 25px;
  background-color:#152940;
  display: block;
}
.reciclar1{
  width: 115px;
  height: 115px;
  background-color:#148253;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: 65px;
  box-shadow: 0 0 5px black;
}
.reciclar-esquerda{
  width: 115px;
  height: 115px;
}
.caixa-centro{
  float: center;
  height:400px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.separar{
  height: 40px;
  width: 100%;
  text-align: center;
  color: white;
}
.caixa2{
  width: 250px;
  height: 250px;
  border-radius: 25px;
  background-color:#152940;
  display: block;
}
.caminhao1{
  width: 115px;
  height: 115px;
  background-color:#148253;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: 65px;
  box-shadow: 0 0 5px black;
}
.caminhao-centro{
  width: 115px;
  height: 115px;
}
.coletar{
  height: 40px;
  width: 100%;
  text-align: center;
  color: white;
}
.caixa-direita{
  float: right;
  height:400px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caixa3{
  width: 250px;
  height: 250px;
  border-radius: 25px;
  background-color:#152940;
  display: block;
}
.lixo1{
  width: 115px;
  height: 115px;
  background-color:#148253;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: 65px;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}
.lixo-direita{
  width: 115px;
  height: 115px;
}
.titulo-reciclar{
  height: 40px;
  width: 100%;
  text-align: center;
  color: white;
}
.container2{
  background-color: #148253;
  width: 100%;
  height: 320px;
  display: flex;
    
}
.container3{
  background-color:#EEE5DD;
  width: 100%;
  height: 250px;
  display: flex;
}
.bola1{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
}
